:root {
    --colorOscuro: rgb(34, 31, 31);
    --colorBrillante: rgb(255, 235, 205);
    --colorRojo: rgb(165, 5, 5);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--colorOscuro);
    color: var(--colorBrillante);
    font-family: 'New Tegomin', serif;

}

.hider {
    display: none;
}

main>section>header {
    font-size: 2.1em;
    color: var(--colorRojo);
}

main>section>h2 {
    font-size: 1.5em;

}

main>section>h2::before {
    background-image: url('/assets/icono.png');
    background-size: 50px 35px;
    display: inline-block;
    width: 50px;
    height: 35px;
    top: 10px;
    content: "";
}

.over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-image: url("../assets/bonfire.webp");
}

.btnStart {
    display: block;
    text-decoration: none;
    color: white;
}

.btnStart:hover {
    color: var(--colorRojo);
}

h1 {
    text-align: center;
}

header {
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
}

#navbar {
    text-align: center;
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;
    border-right: 2px solid;
}

#navbar ul {
    height: 85%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid;
}

#navbar li {
    border-top: 2px solid;
    list-style-type: none;
    width: 100%;
    font-size: 1.1rem;
}

#navbar a:hover {
    color: var(--colorRojo);
}

.nav-link {
    display: block;
    padding: 10px 30px;
    color: var(--colorBrillante);
    text-decoration: none;
    cursor: pointer;
}

.map {
    width: 100%;
    height: 50%;
}

main {
    margin-left: 300px;
    padding: 0px 10px
}

#test {
    padding: 0;
    margin: 0;
    width: 100%;
}

@media only screen and (max-width: 815px) {

    /* Para celular */
    #navbar {
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;

    }

    main {
        position: relative;
        margin-left: 0px;
        margin-top: 275px;
        padding-top: 1px;
    }
}